<p>hello world</p>

<h2>Text Setting</h2>
<p>{{  section.settings.text_setting }}</p>

<h2>Textarea Setting</h2>
<p>{{  section.settings.textarea_setting | newline_to_br }}</p>

<h2>Richtext Setting</h2>
<div>{{  section.settings.richtext_setting }}</div>

<h2>Inline Richtext Setting</h2>
<div>{{  section.settings.inline_richtext_setting }}</div>

<h2>Number Setting</h2>
<p>{{  section.settings.number_setting }}</p>

<h2>Range Setting</h2>
<p>{{  section.settings.range_setting }}</p>

<h2>Select Setting</h2>
<p>{{  section.settings.select_setting }}</p>

<h2>Checkbox Setting</h2>
{% if section.settings.checkbox_setting == true %}
	<p>Checkbox is true</p>
{% else %}
	<p>Checkbox is false</p>
{% endif %}

<h2>Radio Setting</h2>
<p>{{  section.settings.radio_setting }}</p>

<h2>Color Setting</h2>
<p style="color: {{ section.settings.color_setting }}">{{  section.settings.color_setting }}</p>

<h2>Color Background Setting</h2>
<div style="background: {{ section.settings.color_background_setting }}">{{  section.settings.color_background_setting }}</div>

{% if section.settings.image_picker_setting %}
	<h2>Image Picker</h2>
	<p>{{  section.settings.image_picker_setting | image_url: width: 300, height: 300 | image_tag }}</p>
{% endif %}

<div>
	<h2>Video Settings</h2>
	{{ section.settings.video_setting | video_tag: controls: true, style: "height: 500px; width: 500px;", image_size: '500x'}}
</div>

<div>
	<h2>Youtube Video URL</h2>
	<iframe 
		width="560" 
		height="315" 
		src="https://www.youtube.com/embed/{{ section.settings.video_url_setting.id }}" 
		title="YouTube video player" 
		frameborder="0" 
		allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
		referrerpolicy="strict-origin-when-cross-origin" 
		allowfullscreen></iframe>
</div>

<h2>URL Setting</h2>
<a href="{{  section.settings.url_setting }}">Click here</a>

<h2>HTML Setting</h2>
<div>{{ section.settings.html_setting }}</div>

<h2>Liquid Setting</h2>
<div>{{ section.settings.liquid_setting }}</div>

<h2>Product Setting</h2>
<div>{{ section.settings.product_setting.id }}</div>

{% schema %}
	{
		"name": "Section Tutorial",
		"tag": "section",
		"class": "section-tutorial",
		"limit": 2,
		"settings": [
			{
				"type": "text",
				"id": "text_setting",
				"label": "Text Setting",
				"default": "This is my first setting",
				"info": "This is some helper text",
				"placeholder": "This is a placeholder"
			},
			{
				"type": "textarea",
				"id": "textarea_setting",
				"label": "Textarea Setting",
				"placeholder": "This is a placeholder"
			},
			{
				"type": "richtext",
				"id": "richtext_setting",
				"label": "Richtext Setting"
			},
			{
				"type": "inline_richtext",
				"id": "inline_richtext_setting",
				"label": "Inline Richtext Setting"
			},
			{
				"type": "number",
				"id": "number_setting",
				"label": "Number Setting"
			},
			{
				"type": "range",
				"id": "range_setting",
				"label": "Range Setting",
				"min": 50,
				"max": 150,
				"step": 5,
				"unit": "px",
				"default": 60
			},
			{
				"type": "select",
				"id": "select_setting",
				"label": "Select Setting",
				"options": [
					{
						"value": "value-1",
						"label": "Value 1",
					},
					{
						"value": "value-2",
						"label": "Value 2",
					},
					{
						"value": "value-3",
						"label": "Value 3",
					},
					{
						"value": "value-4",
						"label": "Value 4",
					}
				]
			},
			{
				"type": "checkbox",
				"id": "checkbox_setting",
				"label": "Checkbox Setting",
				"default": true
			},
			{
				"type": "radio",
				"id": "radio_setting",
				"label": "Radio Setting",
				"options": [
					{
						"value": "value-1",
						"label": "Value 1"
					},
					{
						"value": "value-2",
						"label": "Value 2"
					},
					{
						"value": "value-3",
						"label": "Value 3"
					}
				]
			},
			{
				"type": "color",
				"id": "color_setting",
				"label": "Color Setting"
			},
			{
				"type": "color_background",
				"id": "color_background_setting",
				"label": "Color Background Setting"
			},
			{
				"type": "image_picker",
				"id": "image_picker_setting",
				"label": "Image Setting"
			},
			{
				"type": "video",
				"id": "video_setting",
				"label": "Video Setting"
			},
			{
				"type": "video_url",
				"id": "video_url_setting",
				"label": "Video URL Setting",
				"accept": ["youtube"],
				"placeholder": "Youtube Video URL"
			},
			{
				"type": "url",
				"id": "url_setting",
				"label": "URL Setting"
			},
			{
				"type": "html",
				"id": "html_setting",
				"label": "HTML Setting"
			},
			{
				"type": "liquid",
				"id": "liquid_setting",
				"label": "Liquid Setting"
			},
			{
				"type": "product",
				"label": "Product Setting",
				"id": "product_setting"
			}
			
		],
		"blocks": [],
		"presets": [
			{
				"name": "Sections Tutorial",
				"settings": {}
			}
		]
	}
{% endschema %}
