{{  'sections-tutorial.css' | asset_url | stylesheet_tag }}

<h2>{{ section.settings.text_setting }}</h2>

<p>{{ section.index }}</p>
<p>{{ section.id }}</p>

{%- if request.design_mode -%}
	<p>This is from the Theme Editor</p>
{%- endif -%}


{% comment %} <p>hello world</p>

<h2>Text Setting</h2>
<p>{{  section.settings.text_setting }}</p>

<h2>Textarea Setting</h2>
<p>{{  section.settings.textarea_setting | newline_to_br }}</p>

<h2>Richtext Setting</h2>
<div>{{  section.settings.richtext_setting }}</div>

<h2>Inline Richtext Setting</h2>
<div>{{  section.settings.inline_richtext_setting }}</div>

<h2>Number Setting</h2>
<p>{{  section.settings.number_setting }}</p>

<h2>Range Setting</h2>
<p>{{  section.settings.range_setting }}</p>

<h2>Select Setting</h2>
<p>{{  section.settings.select_setting }}</p>

<h2>Checkbox Setting</h2>
{% if section.settings.checkbox_setting == true %}
	<p>Checkbox is true</p>
{% else %}
	<p>Checkbox is false</p>
{% endif %}

<h2>Radio Setting</h2>
<p>{{  section.settings.radio_setting }}</p>

<h2>Color Setting</h2>
<p style="color: {{ section.settings.color_setting }}">{{  section.settings.color_setting }}</p>

<h2>Color Background Setting</h2>
<div style="background: {{ section.settings.color_background_setting }}">{{  section.settings.color_background_setting }}</div>

{% if section.settings.image_picker_setting %}
	<h2>Image Picker</h2>
	<p>{{  section.settings.image_picker_setting | image_url: width: 300, height: 300 | image_tag }}</p>
{% endif %}

<div>
	<h2>Video Settings</h2>
	{{ section.settings.video_setting | video_tag: controls: true, style: "height: 500px; width: 500px;", image_size: '500x'}}
</div>

<div>
	<h2>Youtube Video URL</h2>
	<iframe 
		width="560" 
		height="315" 
		src="https://www.youtube.com/embed/{{ section.settings.video_url_setting.id }}" 
		title="YouTube video player" 
		frameborder="0" 
		allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
		referrerpolicy="strict-origin-when-cross-origin" 
		allowfullscreen></iframe>
</div>

<h2>URL Setting</h2>
<a href="{{  section.settings.url_setting }}">Click here</a>

<h2>HTML Setting</h2>
<div>{{ section.settings.html_setting }}</div>

<h2>Liquid Setting</h2>
<div>{{ section.settings.liquid_setting }}</div>

<h2>Product Setting</h2>
<p>
	{{ section.settings.product_setting }} | {{ section.settings.product_setting.title }}
	{{ section.settings.product_setting.variants[0].price | money }}
</p>

<h2>Product List Setting</h2>
{% for product in section.settings.product_list_setting %}
	<p>
		{{ product.handle }} | {{ product.title }}
		{{ product.variants[0].price | money }}
	</p>
{% endfor %}

<h2>Collection Setting</h2>
<p>
	{{ section.settings.collection_setting }} | {{ section.settings.collection_setting.title }} - 
	{{ section.settings.collection_setting.products.size }}
</p>

<h2>Collection List Setting</h2>
{% for collection in section.settings.collection_list_setting %}
	<p>
		{{ collection }} | {{ collection.title }} - {{ collection.products.size }}
	</p>
{% endfor %}

<h2 style="text-align: {{ section.settings.text_alignment_setting }}">Text Alignment Setting</h2>
<p style="text-align: {{ section.settings.text_alignment_setting }}">{{ section.settings.text_alignment_setting }}</p>

<h2>Font Setting</h2>
<p>{{ section.settings.font_setting.family }}</p>


<style>
	{{ section.settings.font_setting | font_face: font_display: 'swap' }}
	.section-tutorial * {
		font-family: {{ section.settings.font_setting.family }}
	}
</style> {% endcomment %}

<h1>Section Tutorial</h1>

{% assign products = section.blocks | where: "type", "section_product" %}
{% assign collections = section.blocks | where: "type", "section_collection" %}

<h2>Products</h2>
{%- for product in products -%}
	{% assign title = product.settings.title | default: product.settings.product.title %}
	{% assign image = product.settings.image | default: product.settings.product.featured_image %}
	<div {{ product.shopify_attributes }}>
		<p>{{ title }}</p>
		{%- if image -%}
			{{ image | image_url: width: 300, height: 300 | image_tag }}
		{%- endif -%}
	</div>
{%- endfor -%}

<h2>Collections</h2>
{%- for collection in collections -%}
	{% assign title = collection.settings.title | default: collection.settings.collection.title %}
	{% assign image = collection.settings.image | default: collection.settings.collection.featured_image %}
	<div {{ collection.shopify_attributes }}>
		<p>{{ title }}</p>
		{%- if image -%}
			{{ image | image_url: width: 300, height: 300 | image_tag }}
		{%- endif -%}
	</div>
{%- endfor -%}

{% schema %}
	{
		"name": "Section Tutorial",
		"tag": "section",
		"class": "section-tutorial",
		"limit": 2,
		"disabled_on": {
			"templates": ["collection"]
		},
		"settings": [
			{
				"type": "text",
				"id": "text_setting",
				"label": "Text Setting",
				"default": "This is my first setting",
				"info": "This is some helper text",
				"placeholder": "This is a placeholder"
			},
			{
				"type": "textarea",
				"id": "textarea_setting",
				"label": "Textarea Setting",
				"placeholder": "This is a placeholder"
			},
			{
				"type": "richtext",
				"id": "richtext_setting",
				"label": "Richtext Setting"
			},
			{
				"type": "inline_richtext",
				"id": "inline_richtext_setting",
				"label": "Inline Richtext Setting"
			},
			{
				"type": "number",
				"id": "number_setting",
				"label": "Number Setting"
			},
			{
				"type": "range",
				"id": "range_setting",
				"label": "Range Setting",
				"min": 50,
				"max": 150,
				"step": 5,
				"unit": "px",
				"default": 60
			},
			{
				"type": "select",
				"id": "select_setting",
				"label": "Select Setting",
				"options": [
					{
						"value": "value-1",
						"label": "Value 1",
					},
					{
						"value": "value-2",
						"label": "Value 2",
					},
					{
						"value": "value-3",
						"label": "Value 3",
					},
					{
						"value": "value-4",
						"label": "Value 4",
					}
				]
			},
			{
				"type": "checkbox",
				"id": "checkbox_setting",
				"label": "Checkbox Setting",
				"default": true
			},
			{
				"type": "radio",
				"id": "radio_setting",
				"label": "Radio Setting",
				"options": [
					{
						"value": "value-1",
						"label": "Value 1"
					},
					{
						"value": "value-2",
						"label": "Value 2"
					},
					{
						"value": "value-3",
						"label": "Value 3"
					}
				]
			},
			{
				"type": "color",
				"id": "color_setting",
				"label": "Color Setting"
			},
			{
				"type": "color_background",
				"id": "color_background_setting",
				"label": "Color Background Setting"
			},
			{
				"type": "image_picker",
				"id": "image_picker_setting",
				"label": "Image Setting"
			},
			{
				"type": "video",
				"id": "video_setting",
				"label": "Video Setting"
			},
			{
				"type": "video_url",
				"id": "video_url_setting",
				"label": "Video URL Setting",
				"accept": ["youtube"],
				"placeholder": "Youtube Video URL"
			},
			{
				"type": "url",
				"id": "url_setting",
				"label": "URL Setting"
			},
			{
				"type": "html",
				"id": "html_setting",
				"label": "HTML Setting"
			},
			{
				"type": "liquid",
				"id": "liquid_setting",
				"label": "Liquid Setting"
			},
			{
				"type": "header",
				"content": "Site Resource Settings",
				"info": "Settings related to Shopify Resources [Learn More](https://shopify.com)"
			},

			{
				"type": "product",
				"label": "Product Setting",
				"id": "product_setting"
			},
			{
				"type": "product_list",
				"label": "Product List Setting",
				"id": "product_list_setting",
				"limit": 10
			},

			{
				"type": "collection",
				"label": "Collection Setting",
				"id": "collection_setting"
			},
			{
				"type": "collection_list",
				"label": "Collection List Setting",
				"id": "collection_list_setting",
				"limit": 10
			},
			{
				"type": "text_alignment",
				"label": "Text Alignment Setting",
				"id": "text_alignment_setting",
				"default": "center"
			},
			{
				"type": "font_picker",
				"label": "Font Setting",
				"id": "font_setting",
				"default": "assistant_n4"
			}
			
		],
		"blocks": [
			{
				"type": "section_product",
				"name": "Product",
				"settings": [
					{
						"type": "product",
						"label": "Product",
						"id": "product"
					}, 
					{
						"type": "text",
						"id": "title",
						"label": "Title",
						"info": "Optional. Will Override the Products title if defined"
					},
					{
						"type": "image_picker",
						"id": "image",
						"label": "image",
						"info": "Optional. Will Override the Products image if defined"
					}
				],
				"limit": 4
			},
			{
				"type": "section_collection",
				"name": "Collection",
				"settings": [
					{
						"type": "collection",
						"label": "Collection",
						"id": "collection"
					}, 
					{
						"type": "text",
						"id": "title",
						"label": "Title",
						"info": "Optional. Will Override the Collection title if defined"
					},
					{
						"type": "image_picker",
						"id": "image",
						"label": "image",
						"info": "Optional. Will Override the Collection image if defined"
					}
				]
			}
		],
		"presets": [
			{
				"name": "Sections Tutorial with Products",
				"settings": {
					"text_setting": "Section Tutorial With Products"
				},
				"blocks": [
					{
						"type": "section_product",
						"settings": {
							"product": "the-3p-fulfilled-snowboard"
						}
					},
					{
						"type": "section_product",
						"settings": {
							"product": "the-3p-fulfilled-snowboard",
							"title": "Another Product"
						}
					}
				]
			},
			{
				"name": "Sections Tutorial with Collections",
				"settings": {
					"text_setting": "Section Tutorial With Collections"
				},
				"blocks": [
					{
						"type": "section_collection",
						"settings": {
							"collection": "hydrogen"
						}
					},
					{
						"type": "section_collection",
						"settings": {
							"collection": "hydrogen",
							"title": "Another Collection"
						}
					}
				]
			},
			{
				"name": "Sections Tutorial Mixed",
				"settings": {
					"text_setting": "Section Tutorial With Product & Collections"
				},
				"blocks": [
					{
						"type": "section_product",
						"settings": {
							"product": "the-3p-fulfilled-snowboard"
						}
					},
					{
						"type": "section_collection",
						"settings": {
							"collection": "hydrogen",
							"title": "Another Collection"
						}
					}
				]
			}
		]
	}
{% endschema %}
